.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 20rem 1fr;
  padding: 2rem 1rem;
  background-color: aliceblue;
}

.infoIniciais {
  display: flex;
  flex-direction: column;
}

.infoIniciais img {
  width: 100%;
  border-radius: 6px;
}

.infoIniciais h3 {
  padding: 1rem;
}

.infoCriadores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoNaoEncontrada {
  font-size: 0.9rem;
  color: #d3d3d3;
}

.nomeCompany {
  margin-bottom: 2rem;
}

.infoCriadores p {
  font-weight: 600;
  padding: 5px;
}

.naoEncontrado {
  text-align: center;
}

.titleGeneros {
  margin-top: 1rem;
}

.generos {
  font-weight: 500;
  text-decoration: none;
  color: #000;
  margin-bottom: 5px;
  padding-left: 10px;
}

.generos:hover {
  text-decoration: underline;
}

.sobre {
  padding-left: 2rem;
}

.sobre p {
  margin-top: 10px;
  line-height: 1.3;
}

.receita {
  padding-top: 2rem;
  font-weight: 700;
}

.sobreVotos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
  margin-top: 3rem;
}

.votos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.votos > p, .votos span {
  font-size: 2rem;
}