.header {
  height: 5rem;
  padding: 0 5rem;
  background-color: #454665;
  color: #fff;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
}

.header p {
  font-weight: bold;
  font-family: 'Lato';
}

.header a {
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto';
  font-weight: 900;
}